npx create-next-app@latest
npm run dev
npm install react-icons
npm install -D @tailwindcss/aspect-ratio
npm install react-countdown
npm i flowbite  flowbite-react
npm install zustand query-string
npm install next-auth
npm install react-hook-form react-datepicker
npm install -D @types/react-datepicker
npm install react-datepicker --save
npm install react-hot-toast